In [1]:
a=7.3
b=5+4j
c=a+b
print(c)

(12.3+4j)

In [2]:
a=4e4
b=4E4
if(a==b):
  print("4e4 and 4E4 are same")
else:
  print("4e4 and 4E4 are different")

4e4 and 4E4 are same

In [3]:
c=3+5j
r=c.real
i=c.imag
print("Real part of the complex number is ",r,sep="")
print("Imaginary part of the complex number is ",i,sep="")

Real part of the complex number is 3.0
Imaginary part of the complex number is 5.0

In [31]:
import math
c=math.exp(1)
c=int(c)
print("Truncaded value of euler's number is: "c)

SyntaxError: ignored

In [5]:

def fn(bio):
 print(bio)

bio={
    'Name':'Ramesh',
    'Age': '36',
    'Fathers name':'Krishna rao',
    'Occupation':'Software Enginner',
    'Phone':'9994569456'
}
fn(bio )

{'Name': 'Ramesh', 'Age': '36', 'Fathers name': 'Krishna rao', 'Occupation': 'Software Enginner', 'Phone': '9994569456'}

In [12]:
def fn(n):
   if n==1:
    return 1
   else: 
     return(n*fn(n-1))
   
   
n=int(input("Enter input: "))
factorial=fn(n)
print("Factorial of ",n," is: ",factorial,sep="")

Enter input: 5
Factorial of 5 is: 120

In [13]:
def fn(n):
   if(n==1 or n==2):
     return 1
   else:
    a=fn(n-1)+fn(n-2)
    return a

n=int(input("Enter the number: "))
print("First",n,"fibanocci numbers:")
for x in range(1,n+1):
 s=fn(x)
 print(s)

Enter the number: 5
First 5 fibanocci numbers:
1
1
2
3
5

In [14]:
a=[1,-2,3,4,5,-8,-32,62,-35,63,95,-36]
sum=0
sum2=0
for x in range(0,12):
 if(a[x]>0):
  sum+=a[x]
 else :
  sum2+=a[x]
sum2=sum2*-1
if(sum>sum2):
 print('POSITIVE')
else:
 print("NEGATIVE")

POSITIVE

In [32]:
qwert=input('Enter the string: ')
a=len(qwert)
b=""
c=""
#for x in range(0,a):
# if(qwert[x]=='a' or qwert[x]=='e' or qwert[x]=='i'or qwert[x]=='o' or qwert[x]=='u'):
  # count=count+1
  # b=b+qwert[x]

for x in range(0,a):
  if(qwert[x]=='a' or qwert[x]=='e' or qwert[x]=='i'or qwert[x]=='o' or qwert[x]=='u'):
    b=b+qwert[x]
  else:
   c=c+qwert[x]  
b=b+c  
print(b)

Enter the string: hbefabjbaofb
eaaohbfbjbfb

In [24]:
qwert=input('Enter the string: ')
a=len(qwert)
for x in range(0,a):
  if(qwert[x]=='a' or qwert[x]=='e' or qwert[x]=='i'or qwert[x]=='o' or qwert[x]=='u'):
    print(qwert[x],end="")
for x in range(0,a):
  if(qwert[x]!='a' and qwert[x]!='e' and qwert[x]!='i'and qwert[x]!='o' and qwert[x]!='u'):
    print(qwert[x],end="")

Enter the string: qergvcsedtyunjnoooll
eeuoooqrgvcsdtynjnll

In [33]:
def fn(n,m):
 x=0
 if (x==m):
   return
 else:
   fn(n,m-1)
   x=x+1
   print(n,'*',m,'=',n*m)  


n=int(input('value of n: '))
m=int(input('value of m: '))


fn(n,m)

#x = range(n,(n*m)+1,n)
#print(x)

value of n: 213
value of m: 5
213 * 1 = 213
213 * 2 = 426
213 * 3 = 639
213 * 4 = 852
213 * 5 = 1065